body {
  font-family: 'Droid Serif', serif;
}
#wrapper {
  background-color: white;
  margin: 0 auto; /* centers */
  display: table; /* takes width of children */
  width: 90%;
  max-width: 600px;
  margin-top: 20px;
  margin-bottom: 80px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
#content {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
  width: 100%;
  display: block;
}
a:visited {
  color: inherit;
}
a {
  color: black;
}
.byline {
  width: 100%;
  font-size: 80%;
  display: block;
  text-align: right;
  border-bottom: 1px solid black;
}
.byline a {
  text-decoration: none;
  border-bottom: dotted 1px black;
}

h1 {
  font-family: Garamond, Georgia, serif;
  font-weight: normal;
}
#wrapper img {
  width: 80%;
}

.info {
  float: left;
  /*display: inline-block;*/
}


.slider-param {
  display: none;
}
.d3-slider-wrapper {
  margin-bottom: 10px;
  margin-left: 10px;
  overflow: hidden;
  /*display: block;  */
}
#sliders {
  float: left;
  margin-top: 10px;
  margin-left: 2px;
  width: 25%;
}
.d3-slider {
  margin: 10px;
  width: 100px;
}
.slider-name, .slider-val, .label {
  font-size: 80%;
}
#chart {
  width: 70%;
  min-width: 400px;
  overflow: hidden;
  float: left;
}
.line {
}
.dot {
  /*stroke: #000;*/
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
